/* 

Project Name: Anuradha Vishwakarma Portfolio
Client: Anuradha Vishwakarma
Author: Anuradha Vishwakarma 

*/

body{
    background: url(imgs/stems.png);
    background-position: top;
	background-attachment: fixed;
	-webkit-background-size: cover; /* the next 3 lines are "browser prefixes", they are necessary to include for CSS3 techniques */
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}
#container{
    background-color: rgba(0, 0, 0, 0.753);
    color: white;
    font-family: 'Times New Roman', Times, serif;
    width:500px;
	padding: 15px;
    margin-top:5px;
    margin-bottom:5px;
    margin-left: 8em;
    border: solid 6px black;

}
    #column {
    float: left;
    width: 150px;
    padding: 3px;
    }

    /* Clear floats after image containers */
    #row::after {
    content: "";
    clear:both;
    display: table;
    } 

    .header{
        background:  #55b5f5; 
        border-radius: 5px;
        padding: 5px;
        color: black;
        font-size: 27px;
        font-family:'Times New Roman', Times, serif;
    }

    .subheader{
        background: #d3f082;
        border-radius: 5px;
        padding: 5px;
        color:black;
        font-size: 19px;
    }

    h1{
        font-size: 54px;
    }
    /* #80d4ff */

    a{
        text-decoration: none;
        color:#6aa4f0;

    }
    #anu{
        border-radius: 5px;
    }
